/*  POLICES  */
/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap');
/* SHRIKHAND */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* GENERAL */
html {
    width: 100%;
}

body {
    margin: 0;
}

p {
    font-family: 'Roboto Light', arial;
}

h2,
h3,
h4,
span {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    box-sizing: border-box;
    height: 3rem;
}

header h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin-top: 0;
}

main {
    width: 100%;
}

.localisation {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eaeaea;
    height: 2.5rem;
    align-items: center;
    box-shadow: inset 0px 11px 3px -9px #CCC;
}

.localisation i {
    margin-right: 0.5rem;
}

/* SECTION EXPLORER */
.explorer {
    width: 100%;
    height: 15rem;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explorer h2 {
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 3rem;
    font-weight: bold;
    margin-right: 2rem;
    margin-left: 2rem;
    align-items: center;
}

.explorer p {
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    align-items: center;
}

.explorer a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    background-size: 200%;
    background-image: linear-gradient(90deg, #FF79DA, #9356DC);
    background-position: 80%;
    box-shadow: 0 0 10px #0000002e;
    margin-bottom: 3rem;
}

.explorer a:hover {
    transform: scale(1.05);
    background-position: 30%;
}

/* SECTION FONCTIONNEMENT */
.fonctionnement {
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 4rem;
}

.fonctionnement-cards div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 1rem;
    box-shadow: 0 0 10px #0000002e;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 4rem;
    transition: all 0.2s ease-in;
    position: relative;
}

.fonctionnement-cards div:hover {
    background-color: #f5edff;
    box-shadow: 10px 20px 19px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

@media (max-width: 320.98px) {
    .fonctionnement {
        margin-top: 3rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 3rem;
    }

    .fonctionnement-cards div i {
        position: absolute;
        left: 1.1rem;
        color: #bdbdbd;
    }
}

@media (min-width: 321px) {
    .fonctionnement-cards div i {
        position: absolute;
        left: 2rem;
        color: #bdbdbd;
    }
}

@media (min-width: 400px) {
    .fonctionnement-cards div i {
        position: absolute;
        left: 2.5rem;
        color: #bdbdbd;
    }
}

.fonctionnement-cards div:hover i {
    color: #9356DC;
}

.fonctionnement-cards span {
    background-color: #9356DC;
    color: #fff;
    position: absolute;
    left: -0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #9356DC;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION RESTAURANTS */
#restaurants {
    background-color: #efefef;
}

#restaurants header {
    padding: 2rem;
    padding-bottom: 1rem;
}

#restaurants div {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
}

article {
    border-radius: 1rem;
    box-shadow: 0 0 10px #0000002e;
    padding: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
}

article:hover {
    transform: scale(1.05);
}

article img {
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 12rem;
    width: 100%;
}

article a {
    text-decoration: none;
    color: #000;
}

article span {
    position: absolute;
    padding: 0.5rem;
    background-color: #99E2D0;
    color: #35a78b;
    font-weight: bold;
    right: 1.5rem;
    top: 1rem;
}

article h3,
article p {
    font-size: 100%;
    margin: 1rem;
}

article button {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    border: none;
    background-color: #efefef;
    font-size: 1.5rem;
    cursor: grab;
    transition: all 0.3s;
}

.button-1 {
    opacity: 1;
}

.button-2 {
    opacity: 0;
    position: absolute;
}

.button-1:active {
    opacity: 0;
}

.button-2:active {
    opacity: 1;
    color:#9356DC;
    transform: scale(1.2);
}

/* FOOTER */
footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
}

footer h3 {
    font-family: 'Shrikhand', cursive;
    margin-left: 2.5rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    margin-bottom: 0.5rem;
}