/*  POLICES  */
/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap');
/* SHRIKHAND */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* GENERAL */
html {
    width: 100%;
}

body {
    margin: 0;
}

p {
    font-family: 'Roboto Light', arial;
}

h2,
h3,
h4,
span {
    font-family: 'Roboto', sans-serif;
}